
.link{
    text-decoration: none;
    cursor: pointer;
    font-style: italic 
}

.link:hover {
    color: blueviolet;
}

.list{
    display: inline;
}

.list {
    padding-inline-start: 0px !important;
}

.menu{
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px #aaa;
    margin-left: 40px;
    margin-top: 50px;
    padding: 20px 
}

.button{
    background-color: #fff;
    width: 25px;
    height: 25px;
    padding: 0 5px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer; 
}

.content{
    width: 0px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}