.header-main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #4f5d75;
    position: fixed;
    top: 0;
    box-shadow: 1px 5px 5px #aaa;
    z-index: 1;
}

.header-menu {
    width: 10%;
}

.header-content {
    width: 80%;
}
.header-notifications {
    width: 10%;
}