.deck-selection {
    font-size: 14px;
    margin-left: 5%;
}

.orderDescription {
    font-size: 14px;
    font-style: italic;
    padding-top: 8px;
}

.new-deck-content {
    width: 80%;
    margin: 0 auto;
}